*{
    box-sizing: border-box;
    font-family: 'Six Caps', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    }
.start{
    height: 0;
    width: 0;
}

html, body{
    overflow-y: hidden;
    height: 100vh;
    width: 100%;
    margin: 0px;
}

html{
    display: block;
    overflow-x: visible;
}

body{
    width: auto;
    display: inline-block;
    overflow-x: hidden;
    position: relative;
}

.page{
    display: flex;
    width: 100%;
    min-width: 200vw;
}

/*##############################
####  HEADER  ####
###############################*/
.site-header{
    z-index: 4;
    position: fixed;
    left: 0;
    max-width: 100px;
    height: auto;
}

.header-menu, .footer-link{
    height: 80px;
}

/*##############################
####  HERO  ####
###############################*/
hero{
    position: relative;
}

.hero-index-img{
    z-index: -2;
    height: 100vh;
    width: 50vw;
    opacity: 0.7;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-content: center;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-10%, -10%);
    padding-left: 20px;
}

.hero-content h1{
    font-size: 3rem;
    margin: 0;
}

.hero-content h2{
    font-size: 2rem;
    margin: 0;
}

.hero-link-container{
    height: 170px;
}

/*##############################
####  MAIN CONTENT  ####
###############################*/
main{
    display: flex;
    flex-direction: row;
    width: auto;
    padding-right: 100vw;
}

/*##############################
####  INDEX CATEGORY CARD GRID  ####
###############################*/

.card-grid{
    display: flex;
    position: relative;
    height: 600px;
    width: auto;
    margin-top: 120px;
}

.event-card{
    position: relative;
    height: 520px;
    width: 400px;
}

.event-card.first{
    margin: 0 40px 80px 40px;
}

.event-card.second{
    margin: 80px 40px 0 40px;
}

.card-img{
    z-index: -2;
    height: 520px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

.event-card-content{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2px;
    left: 6px;
    height: 100%;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    justify-content: flex-end;
}

.card-top {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
}
.card-area{
    font-size: smaller;
    font-weight: normal;
}

.event-card-content h3{
    font-size: 2rem;
    margin-left: 20px;
}

.card-bottom{
    display: flex;
    margin-bottom: 40px;
    margin-left: 20px;
}

.container{
    width: 600px;
    height: 100vh;
    background-color: darkgrey;
    opacity: 0.3;
}

/*##############################
####  FOOTER  ####
###############################*/
footer{
    display: flex;
    flex-direction: column;
}

footer, .footer-background-img{
    position: absolute;
    right: 0;
    width: 100vw;
    overflow: visible;
}

.footer-background-img{
    z-index: -4;
    height: 100vh;
    opacity: 0.7;
}

.start-anchor{
    height: auto;
    text-align: right;
}

.start-link{
    position: relative;
    margin: 40px;

}

.footer-start-img{
    margin-top: 40px;
}

.footer-content{
    position: relative;
    justify-content: space-evenly;
    display: flex;
}

.footer-link-container{
    margin-bottom: 100px;
    height: 100%;
}
.nav-list, .contact-info-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.nav-list a{
    text-decoration: none;
    display: block;
    margin-block-start: 20%;
    margin-block-end: 20%;
    font-size: larger;
    background-color: black;
    color: white;
    max-width: fit-content;
    opacity: 0.9;
}

p{
    margin-block-start: 1%;
    margin-block-end: 1%;
    margin-left: 20px;
}

.horisontal-logo{
    margin-top: 40%;
    margin-bottom: 10%;
    opacity: 0.9;
}

.page-name{
    margin-block-start: 50%;
    margin-block-end: 150%;
    background-color: black;
    color: white;
    max-width: fit-content;
    opacity: 0.9;
}

.socialmedia-container{
    margin-top: 20px;
    margin-left: 20px;
    opacity: 0.9;
}

/*##############################
####  Register-form  ####
###############################*/

.hero-register{
    width: 100vw;

}


.hero-register-img{
    height: 100vh;
    width: 90vw;
    z-index: -2;
}

.register-page {
    position: absolute;
    left: 150px;
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.register-page h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
    margin-bottom: 0;

}

.register-form-wrapper {
    display: flex;

}

.register-form {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0;
}



.register-form div {
    display: flex;

}

.register-form label {
    width: 200px;

}

.register-form input {
    text-align: end;
}

.register-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f2f2f2f2;
    border-radius: 5px;
}

.register-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
}

.register-form input[type="text"],
.register-form input[type="password"],
.register-form textarea {
    width: 150%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000000;
}

.register-form button[type="submit"] {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

.register-form input[type="file"] {
    margin-bottom: 20px;
}

.register-form textarea {
    resize: none;
    height: 100px;
}

.register-form-button {
    height: 80px;
    position: absolute;
    top: 50%;
    left: 750px;
}

/*##############################
####  Post-Event  ####
###############################*/


.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.event-info {
    text-align: center;
}

.event-name {
    font-size: 6rem;
    font-family: 'Six Caps', sans-serif;
    margin: 0;
}

.event-category,
.event-date,
.event-time,
.event-price,
.event-address,
.event-rating,
.event-details-text {
    margin: 10px 0;
    font-size: 1.2rem;
}

.event-category .category-value,
.event-date .date-value,
.event-time .time-value,
.event-price .price-value,
.event-address .address-value,
.event-rating .rating-value,
.event-details-text .details-value {
    font-weight: bold;
}

.btn {
    display: block;
    margin: 20px auto 0;
    font-size: 1.5rem;
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.btn:hover {
    transform: rotate(90deg);
}

.event-image {
    max-width: 100%;
    height: auto;
    border: 1px solid #cccccc;
}

.register-form button[type="submit"] {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}