h1{
    color: #444444;
    padding-left: 100px;
}
*{
    box-sizing: border-box;
}

html, body{
    overflow-y: hidden;
    height: 100vh;
    margin: 0px;
}

html{
    display: block;
    overflow-x: visible;
}

body{
    width: auto;
    display: inline-block;
    overflow-x: hidden;
    position: relative;
}

.page{
    display: flex;
    min-width: 200vw;
}

.site-header{
    position: fixed;
    left: 0;
    max-width: 100px;
    height: auto;
}

.header-menu, .footer-link{
    height: 80px;
}

main{
    display: flex;
}

.container{
    width: 600px;
    height: 100vh;
    background-color: darkgrey;
}

footer, .footer-background-img{
    display: grid;
    position: absolute;
    right: 0;
    width: 100vw;
}

.footer-background-img{
    height: 100vh;
}

.start-link{
    position: relative;
}
