{% extends "layout.html" %}
{% block content %}

  <section class="hero-full-bg">
      <img src="{{ url_for('static', filename='images/07.jpg') }}" alt="Colored Background" height="700"
           class="hero-full-bg-img">
  </section>

<div class="main-detail">
  <div class="detail-about-wrapper">
    <div class="detail-about">
      <p> Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
        ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    </div>
  </div>


  <div class="detail-card">
    <div class="detail-card-info">
      <h3 class="card-name">name</h3>
      <div class="card-area">area</div>
      <div class="card-date">
        <div class="card-date-date">date</div>
        <div class="card-date-time">time</div>
      </div>
      <div class="card-price">price</div>
    </div>
    <div class="detail-remember"></div>
  </div>
</div>

<div class="map-container">
  <img src="{{ url_for('static', filename='images/map.png') }}" alt="Marker on Abstract Map" width="700"
       class="map-img">
</div>

{% endblock content %}