{% extends "layout.html" %}
{% block content %}

  <section class="hero-full-bg">
      <img src="{{ url_for('static', filename='images/07.jpg') }}" alt="Colored Background" height="700"
           class="hero-full-bg-img">
  </section>

<div class="main-detail">
  <div class="detail-about-wrapper">
    <div class="detail-about">
      <p> {{ event.description }}</p>
    </div>
  </div>


  <div class="detail-card">
    <div class="detail-card-info">
      <h3 class="card-name">{{ event.name }}</h3>
      <div class="card-area">{{ event.area }}</div>
      <div class="card-date">
        <div class="card-date-date">{{ event.date }}</div>
        <div class="card-date-time">{{ event.time }}</div>
      </div>
      <div class="card-price">{{ event.price }}</div>
    </div>
    <div class="detail-remember"></div>
  </div>
</div>

<div class="map-container">
  <img src="{{ url_for('static', filename='images/'+event.map_image) }}" alt="Marker on Abstract Map" width="700"
       class="map-img">
</div>

{% endblock content %}