{% extends "layout.html" %}
{% block content %}
    <hero>
        <img src="{{ url_for('static', filename='images/green.png') }}" alt="Green Background" width="80" class="hero-index-img">

        <div class="hero-content">
            <h1>Hello Awesome!</h1>
            <h2>See what's going on in your hometown!</h2>
            <div class="hero-link-container">

            </div>
        </div>
    </hero>
    <div class="container">
        </div>
            <div class="container">
        </div>

{% endblock content %}