<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="height=device-height, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Six+Caps&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"/>

    {% if title %}
      <title>Whats Up - {{ title }}</title>
    {% else %}
      <title>Event Webpage</title>
    {% endif %}

</head>
<body>
    <div class="page">
        <div class="start" id="start"></div>
        <header class="site-header">
            <a class="home-link" href="{{url_for('index')}}">
                <div class="header-logo">
                    <img src="{{ url_for('static', filename='images/whatsup-vertical.png') }}" alt="Logo" width="80"
                         class="logo"/>
                </div>
            </a>
            <div class="header-btn menu">
                <a class="footer-link" href="#end">
                    <img src="{{ url_for('static', filename='images/header-menu-img.png') }}" alt="Menu" width="80"
                         class="menu-img">
                </a>
            </div>
            <div class="header-btn login">
                <a class="login-link" href="{{url_for('login')}}">
                    <img src="{{ url_for('static', filename='images/arrow-in.png') }}" alt="Login" width="80"
                         class="login-img">
                </a>
            </div>
            <div class="header-btn add-new-event">
                <a class="add-new-event-link" href="{{url_for('add_event')}}">
                    <img src="{{ url_for('static', filename='images/add-new-event.png') }}" alt="Add New Event" width="80"
                         class="add-new-event-img">
                </a>
            </div>
        </header>


        <main>
            {% block content %} {% endblock content %}

        </main>

        <footer id="end">
            <img src="{{ url_for('static', filename='images/03.jpg') }}" alt="Background" width="80" class="footer-background-img">

            <div class="start-anchor">
               <a class="start-link" href=#start>
                   <img src="{{ url_for('static', filename='images/footer-start-img.png') }}" alt="To Start" width="80" class="footer-start-img">
               </a>
            </div>
            <div class="footer-content">
                <div class="footer-link-container">
                    <div class="nav-list">
                        <a class="about-link" href="#">About WhatsUp!</a>
                        <a class="calendar-link" href="{{url_for('result')}}">Calendar</a>
                        <a class="categories-link" href="{{url_for('categories')}}">Categories</a>
                        <a class="profile-link" href="{{url_for('my_profile')}}">My Profile</a>
                        <a class="add-event-link" href="{{url_for('add_event')}}">Add a new Event</a>
                    </div>
                </div>
                <div class="contact-info-container">
                    <div class="contact-info-list">
                        <img src="{{ url_for('static', filename='images/whatsup-horisontal.png') }}" alt="Logo" height="60" class="horisontal-logo"/>
                        <p>Strandvägen 100</p>
                        <p>1000 Huvudstaden</p>
                        <p>+4510101010</p>
                        <P>info@whatsup.com</P>
                    </div>
                    <div class="socialmedia-container">
                        <img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook Logo" height="25" class="facebook"/>
                        <img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram Logo" height="25" class="instagram"/>
                        <img src="{{ url_for('static', filename='images/snapchat.png') }}" alt="Snapchat Logo" height="25" class="snapchat"/>
                        <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="Twitter Logo" height="25" class="twitter"/>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>
