<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="height=device-height, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"/>

    {% if title %}
      <title>Whats Up - {{ title }}</title>
    {% else %}
      <title>Event Webpage</title>
    {% endif %}

</head>
<body>
    <div class="page">
        <header class="site-header">
            <a class="home-link" href="/">
                <div class="header-logo">
                    <img src="{{ url_for('static', filename='images/whatsup-vertical.png') }}" alt="Logo" width="80" class="logo"/>
                </div>
            </a>
        </header>

        {% block content %} {% endblock content %}

    </div>
</body>
</html>
