{% extends "layout.html" %}
{% block content %}
<section class="hero-sqr-bg">
    <img src="{{ url_for('static', filename='images/02square.jpg') }}" alt="Colored Background" class="hero-sqr-bg-img">
    <h1  class="hero-bg-topic sqr">Add A New Event</h1>
</section>
<div class="register-page">

    <form class="register-form-wrapper" method="POST" action="{{ url_for('add_event') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="register-form">

            <div>
                <label for="event-name" id="event-name">Name of the event</label>
                {{ form.name() }}
            </div>

            <div>
                <label for="category" id="category">Category</label>
                {{ form.category() }}
            </div>

            <div>
                <label for="date" id="date">Date</label>
                {{ form.date() }}
            </div>

            <div>
                <label for="time" id="time">Time</label>
                {{ form.time() }}
            </div>

            <div>
                <label for="price" id="price">Price</label>
                {{ form.price() }}
            </div>

            <div>
                <label for="address" id="address">Address</label>
                {{ form.address() }}
            </div>

            <div>
                <label for="area" id="area">Area</label>
                {{ form.area() }}
            </div>

            <div>
                <label for="description" id="description">Describe the event</label>
                {{ form.description() }}
            </div>

            <div class="register-form-button">
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>

{% endblock content %}
