{% extends "layout.html" %}

{% block content %}
<section class="hero-sqr-bg">
    <img src="{{ url_for('static', filename='images/06.jpg') }}" alt="Green Background" class="hero-sqr-bg-img">
    <h1 class="hero-bg-topic sqr">Sign Up As New Member</h1>
</section>
<div class="register-page">

    <form class="register-form-wrapper" method="POST" action="{{ url_for('register') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="register-form">

            <div>
                <label for="firstname">Namn:</label>
                {{ form.firstname() }}
            </div>

            <div>
                <label for="lastname">Efternamn:</label>
                {{ form.lastname() }}
            </div>

            <div>
                <label for="username">Användarnamn:</label>
                {{ form.username() }}
            </div>


            <div>
                <label for="password">Lösenord:</label>
                {{ form.password() }}
            </div>

            <div>
                <label for="password-confirm">Repetera Lösenord:</label>
                {{ form.confirm_password() }}
            </div>

            <div>
                <label for="image">Bild:</label>
                <input class="file-input" type="file" id="image" name="image" accept="image/*">
            </div>


            <div>
                <label for="about">Kort om dig:</label>
                {{ form.about() }}
            </div>

            <div class="register-form-button">
                <button type="submit" name="register">Submit</button>
            </div>

            <div class="register account-text">
                <div class="account-text">
                Already have an account? <a href="{{ url_for('login') }}">Sign In</a>
                </div>
            </div>


        </div>
    </form>

</div>
{% endblock content %}

